@import "base";

body {
  background: $main-background;
  font-size: $font;
  font-family: $family1;

  @include flex-column;

  padding: 50px 0;
}

main.card {
  background-color: $card-background;
  width: 90vw;
  border-radius: 5px;

  div#image-container {
    position: relative;

    #mobile-image {
      width: 100%;
      border-radius: 5px 5px 0 0;
      display: block;
    }

    #desktop-image {
      display: none;
    }

    div#image-color {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgb(140, 0, 233);
      opacity: 0.4;
    }
  }

  div#card-content {
    padding: 0 30px 35px 30px;

    h1 {
      color: $stats-color;
      text-align: $text-center;
      margin-top: 30px;

      span {
        color: $accent-color;
      }
    }

    p {
      text-align: $text-center;
      color: $main-paragraph;
      margin-top: 20px;
      line-height: 1.5;
    }
  }
}

div#stats-container {
  @include flex-column;

  gap: 22px;
  margin-top: 35px;
}

div.stats {
  @include flex-column;

  gap: 5px;

  .bold {
    color: $stats-color;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: $family1;
  }

  .stat {
    color: $stat-headings;
    font-size: 0.8rem;
    font-family: $family2;
  }
}

footer {
  margin-top: 20px;

  .attribution {
    color: $stats-color;
    text-align: $text-center;

    a {
      color: $accent-color;
      text-decoration: none;
    }
  }
}

@media (min-width: 900px) {
  body {
    height: 100vh;
    padding: 0;
  }

  main.card {
    width: 95vw;
    max-width: 1000px;
    display: flex;
    flex-direction: row-reverse;

    div#image-container {
      #mobile-image {
        display: none;
      }

      #desktop-image {
        display: block;
      }
    }

    div#card-content {
      padding: 30px 43px 10px 43px;

      h1,
      p {
        text-align: $text-left;
      }
    }
  }

  div#stats-container {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-top: 70px;

    div.stats {
      align-items: flex-start;
    }
  }
}
